html, body {
    background-color: #cfcfcf;
    color: #000;
    font-family: sans-serif;
}
a {
    /*
    color: #0f0;
    */
}
.big-fat-warning {
    /*
    border: 1px solid #ff0;
    */
    border: 1px solid #f00;
    margin: 10px 10%;
    padding: 10px;
}

section section {
    margin-left: 2%;
}

p {
    margin-left: 1%;
}


footer {
    text-align: center;
}
