html, body {
    background-color: #fefefe;
    color: #000;
    font-family: sans-serif;
}
a {
    color: #00f;
}
.big-fat-warning {
    /*
    border: 1px solid #ff0;
    */
    border: 1px solid #f00;
    margin: 10px 10%;
    padding: 10px;
}

@media all and (min-width: 1920px) {
    section.chapter {
        display: block;
        padding: 0;
        margin: auto;
        width: 60%;
    }
}
@media all and (min-width: 1280px) and (max-width: 1919px) {
    section.chapter {
        display: block;
        padding: 0;
        margin: auto;
        width: 80%;
    }
}
@media all and (max-width: 1279px) {
    section.chapter {
        display: block;
        padding: 0;
        margin: auto;
        width: 90%;
    }
}

section section {
    margin-left: 2%;
}

p {
    margin-left: 1%;
}


footer {
    text-align: center;
}
