---
title: Instruction set
layout: default
---

<section class="big-fat-warning big-red-warning">
    <h1> Incomplete </h1>

    <p> This section is embarassingly incomplete.
    You can try looking at <a href="{{ site.repository_url }}/tree/devel/sample">samples</a> directory (containing roughly 4KLOC of
    sample Viua VM code [with comments]) if you feel that something is missing.
    </p>
</section>

<section class="chapter">
    <h1> {{ page.title }} </h1>

    <p class="abstract">
        Below you can find a complete Viua VM's instruction set reference.
        Every instruction is described and some examples of usage are given.
    </p>
</section>

<section class="chapter">
    <h2>Directives</h2>

    <h3><code>.block:</code></h3>

    <p> Sets up a block of code. Must end with <code>.end</code>. </p>

    <h3><code>.bsignature:</code></h3>

    <p> Signature of a block that should be trated as defined by the assembler. </p>

    <h3><code>.closure:</code></h3>

    <p> Create a closure from a function. </p>

    <h3><code>.function:</code></h3>

    <p> Defines a function. </p>

    <h3><code>.info:</code></h3>

    <p> Add meta information to compiled module. </p>

    <h3><code>.iota:</code></h3>

    <p> Sets next value of 'iota' keyword. </p>

    <h3><code>.link:</code></h3>

    <p> Link a module statically. </p>

    <h3><code>.mark:</code></h3>

    <p> Set a marker that can be jumped to. </p>

    <h3><code>.name:</code></h3>

    <p> Name a register. </p>

    <h3><code>.signature:</code></h3>

    <p> Signature of a function that should be trated as defined by the assembler. </p>
</section>

<hr>

<style>
.indent {
    margin-left: 1%;
}
</style>

{% assign sorted_isa = site.isa | sort:"isa_group" %}
{% for art in sorted_isa %}

{% assign current_isa_group = art.isa_group %}

{% if current_isa_group != previous_isa_group %}
<h2> Opcode group: {{ art.isa_group }} </h2>
{% endif %}

<section class="chapter indent">
    <h3> <code> <a href="{{ art.url }}">{{ art.title }}</a> </code></h3>

    <div class="indent">
        <p class="summary"> {{ art.summary }} </p>

        {% if art.canonical_form %}
        <p> <em>Canonical form</em>: <code>{{ art.canonical_form }}</code> </p>
        {% endif %}
    </div>
</section>

{% assign previous_isa_group = current_isa_group %}
{% endfor %}
