---
title: Manuals
layout: default
---

<section class="big-fat-warning big-red-warning">
    <h1> Incomplete </h1>

    <p> This section is embarassingly incomplete.
    In the meantime, try looking at <a href="{{ site.repository_url }}/tree/devel/sample">samples</a> directory containing roughly 4KLOC of
    sample Viua VM code (with comments).
    </p>
</section>

<section class="chapter">
    <h1> {{ page.title }} </h1>

    <p class="abstract"> Below you can find manuals needed when writing software for Viua VM
    written as articles of varying length, accompanied by code samples in Viua assembly and,
    occasionally, other languages.
    Manuals are thought as resources touching upon more advanced features of the VM, such as:
    concurrency, message passing, dynamic dispatch, and watchdog process; they also elaborate on
    VM internals and contain in-depth information about "how-and-why's" of discussed features.
    </p>

    <h3> Intended audience </h3>
    <p class="summary"> A reasonable proficiency in programming is assumed.
    For some articles, prior experience with Viua VM, C++ or both is expected.
    Experience with command line environment is expected.
    </p>
</section>


{% for art in site.manuals | order: 'title' %}
<section class="chapter">
    <h2> <a href="{{ art.url }}">{{ art.title }}</a> </h2>
    <p class="summary"> {{ art.summary }} </p>
</section>
{% endfor %}
