---
title: References
layout: default
---

<section class="big-fat-warning big-red-warning">
    <h1> Incomplete </h1>

    <p> This section is embarassingly incomplete.
    In the meantime, try looking at <a href="{{ site.repository_url }}/tree/devel/sample">samples</a> directory containing roughly 4KLOC of
    sample Viua VM code (with comments).
    </p>
</section>
