<nav>
    <a href="/">docs.viuavm.org</a>
    <span class="spacer">:</span>
    <a href="/manuals.html">manuals</a>
    <span class="spacer">:</span>
    <a href="/references.html">references</a>
    <span class="spacer">:</span>
    <a href="http://viuavm.org">viuavm.org</a>
</nav>
