<!DOCTYPE html>
<html>
    {% include head.html %}

    <body class="index">
        {% include navigation.html %}

        <section class="chapter">
            <h1> Viua VM docs </h1>

            <p>
                This site is the main source of Viua VM documentation.
                You can find all sorts of information here, starting with installation instructions, through programming tutorials, to language reference.
            </p>

            <p>
                If any information cannot be found here it may be present in the source code repository for Viua VM.
            </p>
        </section>

        <hr>

        <section class="chapter">
            <h2> Setting up </h2>

            <p>
                Before you can write and run programs on Viua VM you have to compile it for your system.
                This <a href="{{ site.url }}/requirements-and-build-process.html">page</a> explains the requirements, and
                the build process of Viua VM.
            </p>

            <h2> Model and concepts </h2>

            <p>
                <a href="{{ site.url }}/model.html">This section</a> describes the abstract model of Viua VM, and
                concepts used in it.
                Note that Viua VM is in <strong>early stages of development</strong> so
                this description may be out-of-date in some sections, and
                some sections may not be yet implemented.
            </p>

            <p>
                At this moment it is best to always consult the model with the implementation, or
                observable behaviour of the VM.
            </p>

            <h2> Manuals </h2>

            <p>
                <a href="/manuals.html">Manuals</a> are articles of varying length, explaining how to use the VM.
                Manuals cover a wide range of subjects, from the very basics (e.g. syntax, how to write simple programs, etc.), to the more
                advanced topics (such as concurrency primitives, FFI, resource management, etc.).
            </p>

            <h2> References </h2>

            <p>
                <a href="/references.html">References</a> are <em>lists of features, with short examples</em>.
                They are intended either for people who just need to refresh their memory, or who are interested in quick overviews of possibilities.
            </p>
        </section>

        <hr>

        {% include footer.html %}
    </body>
</html>
