<!DOCTYPE html>
<html>
    {% include head.html %}

    <body class="index">
        {% include navigation.html %}

        <div class="chapter">
            <p class="note for-summary"> You may run <code>make test</code> instead of <code>./scripts/test_quick</code> to run
            tests under Valgrind, but it will take several minutes instead of seconds.
            If something breaks, please <a href="{{ site.bugs_url }}">file a bug report</a>.
            </p>
            <p class="abstract"> Getting started with Viua VM is straightforward; it is the standard "clone-make-test" procedure.
            Executing the follwing commands should give you a fully functioning VM (remeber to use GCC 5, GCC 6 or recent version
            of Clang++; the compiler you use must support at least C++11):
            </p>
            <div class="clear"></div>

            {% highlight bash %}
            # create an anonymous, read-only clone
            $ git clone --recursive --branch devel {{ site.savannah_anonymous_clone_url }}
            $ cd viuavm
            $ vi Makefile           # set CXX_STANDARD flag to c++11 or c++14 (recommended), depending on
                                    # what your compiler supports
            $ make                  # compile the code
            $ ./scripts/test_quick  # perform quick test to see if everything works as it should
            {% endhighlight %}

            <p> For more information see <a href="/manuals/install.html">installation instructions</a>.
        </div>

        <section class="big-fat-warning big-red-warning">
            <h1> Alpha software </h1>
            <p> Viua VM is alpha software, and is undergoing constant change.
            The scope of code-breaking changes is kept under control on a best-effort basis, if something needs breaking it is being broken; privileges of alpha.
            </p>
            <p> You can get the newest code on <a href="{{ site.savannah_git_url }}">Savannah</a> or <a href="{{ site.repository_url }}">Github</a>. </p>
        </section>

        <section class="chapter">
            <h1> Manuals </h2>

            <p class="summary"> <a href="/manuals.html">Manuals</a> are <em>short articles explaining how to use
            specific features of the machine</em>, intended to be reminders (a bit like <code>man</code> pages
            on *nix-like system) for people who already know what they are looking for.
            The reader is assumed to have prior C++ and Viua VM programming experience.
            </p>
        </section>

        <section class="chapter">
            <h1> Tutorials </h1>

            <p class="summary"> <a href="/tutorials.html">Tutorials</a> are <em>articles of varying length, explaining
            how to program Viua VM, and related projects</em> (e.g. how to write a C++ extension module).
            These articles are written as easy to follow <em>step-by-step guides</em>, explaining majority of the things as
            they are encountered in text.
            The reader is expected to have prior programming experience, and be reasonably proficient in the craft.
            </p>
        </section>

        <section class="chapter">
            <h1> References </h1>

            <p class="note for-summary">References also contain VM instruction set reference, and bytecode format
            description. </p>
            <p class="summary"> <a href="/references.html">References</a> are <em>lists of features, with short examples</em>
            of usage (in the spirit of <a href="http://cppreference.com/">cppreference.com</a>).
            They are intended either for people who just need to refresh their memory (what arguments does a function
            take, in which module was a function implemented, etc.), or people who are interested in feature lists.
            </p>
            <div class="clear"></div>
        </section>

        {% include footer.html %}
    </body>
</html>
